executor {
    name = 'slurm'
}

process {
    beforeScript = 'module load singularity/4.1.0-nompi'
    queue = 'work'
    withName: extract_training_sets {
        memory = '32GB'
        cpus = 1
        time = '2h'
    }
    withName: run_VQSR {
        memory = '128GB'
        cpus = 64
        time = '6h'
    }
}
singularity.enabled = true
