executor {
    name = 'slurm'
}

process {
    beforeScript = 'module load singularity/4.1.0-nompi'
    queue = 'work'
    withName: extract_training_sets {
        memory = '32GB'
        cpus = 1
        clusterOptions = "--time=2:00:00"
    }
    withName: run_VQSR {
        memory = '128GB'
        cpus = 64
        clusterOptions = "--time=6:00:00"
    }
}
singularity.enabled = true
